
.content {
  border: red 3px solid;
  flex: 1 0 auto;
  
}



.main {
  border: 4px green solid;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  border: 4px plum solid;
}

.radio-menu {
  position: fixed;
  top: 5;
  justify-content: center;
}

.radio-menu input[type="radio"] {
  display: none;
}
.radio-menu label {
  display: inline-block;
  background-color: #333;
  color: whitesmoke;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 0 5px;
}
.radio-menu input[type="radio"]:checked + label {
  box-shadow: 0 0 5px; 
  background-color: whitesmoke ;
  color: #333;
}

#dog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.dog-tag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 10px;
  border: 2px solid #333;
}

.dog-img {
  object-fit: cover;
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
}

#lightbox {
  background-color: rgba(185, 185, 187, 0.917);

  display: flex;
  position: fixed;
  width: 91vw;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20vw;
}

#lightbox-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
