/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1 0 auto;
} */
/* #root {

  display: flex;
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 4px green solid;
 

} */
/* .main {
  display: flex;
  flex: 1 0 auto;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 5px yellow solid;
} */
.content {
  border: red 3px solid;
  flex: 1 0 auto;
  
}

.radio-menu {
  border: blue 3px solid;

}

.main {
  border: 4px green solid;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95vh;
  
}



body {
  border: 4px plum solid;
   
}

.radio-menu input[type="radio"] {
  display: none;
}
.radio-menu label {
  display: inline-block;
  background-color: salmon;
  cursor: pointer;
  border: 1px solid green;
  padding: 2px 10px;
}
.radio-menu input[type="radio"]:checked+label {
  background-color: aquamarine;
}

#dog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
}

.dog-tag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  border: 2px solid #333; 
}


.dog-img {
  width: 100%;
  height: auto; 
}


.dog-name {
  
}
